extends ./layouts/base.pug

block append style
  style(type='text/css').
    img {
      display: inline-block;
      margin: 1em;
      margin-left: 0;
    }

block content
  section
    h2 hello

block append script
  script(src='/static/magic.js')
  script.
    $('img[data-qrcode]').each(function(_, item) {
      $('<span>').text('src:' + $(item).attr('src')).appendTo($(item).parent());
    });

